<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button type="button" class="btn btn-sm btn-outline-info ml-2">All</button>
        </li>
        <li>
            <button class="btn btn-sm btn-outline-info ml-2">Selected</button>
        </li>
        <li>
            <button class="btn btn-sm btn-outline-info ml-2">Available</button>
        </li>
        <li>
            <button class="btn btn-sm btn-outline-info ml-2">New</button>
        </li>
    </ul>
</nav>